@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}

html, body {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
